@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,700;1,700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
}

.app{
  display: flex;
  position: relative;
}


::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-track{
  background:#e0e0e0;
}
::-webkit-scrollbar-thumb{
  background:#888;

}
::-webkit-scrollbar-track:hover{
  background:#555;

}
/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

*/